# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
*.lock

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.egg-info/
*.eggs-info/
lib/
lib64/
parts/
sdist/
wheels/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm specific
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# VS Code specific
.vscode/
*.code-workspace

# Anaconda
anaconda-project.yml
.env
venv.bak/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*

# Environmental Variables file
.env

# Editor files
*~ 
*.swp
.*.swp
.swo

# SQLite database
*.sqlite3

# Pyre type checker
.pyre/
